* {
    font-family: 'Work Sans', sans-serif;
}

/* header section */
/* navigation */
header {
    background-color: #FF900E1A;
}

.nav-part {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.nav-items {
    display: flex;
    gap: 40px;
}

.nav-option {
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.nav-option:hover {
    color: #FF900E;
}

/* header */
.header-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 40px;
}

.head-title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #131313;
    margin-bottom: 0px;
    margin-left: 35%;
    margin-right: 35%;
}

.head-caption {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-left: 25%;
    margin-right: 25%;
}

.head-button {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
}

.head-button:hover {
    background-color: rgba(255, 144, 14, 0.1);
    color: #000000;
}

.head-img {
    width: 75%;
}

.head-img:hover {
    transform: scale(1.01);
    transition: transform 0.5s;
}

/* main section */
/* Quick list */
.quick-list {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.quick-items-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.quick-img:hover {
    transform: scale(1.01);
    transition: transform 0.5s;
}

.quick-items-2 {
    display: flex;
    flex-direction: column;
    gap: 1%;
}

/* .quick-img {} */

/* .quick-title {} */

.quick-caption {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* Features */
/* .features-section {} */

.facts-container-head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5%;
}

.feature-img{
    width: 100%;
}

.facts-container {
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
}

.features-list {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    gap: 4%;
    justify-content: center;
    align-items: center;
}

.features-caption {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 5%;
}

.facts-item-head {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.feature-img:hover {
    transform: scale(1.01);
    transition: transform 0.5s;
}

.facts-container:hover {
    transform: scale(1.01);
    transition: transform 0.5s;
}

.features-head {
    font-weight: 700;
    font-size: 45px;
    font-weight: 700;
    font-size: 45px;
}

.features-items .features-head {
    border-left: 5px solid #FF900E;
    padding: 0.01em 20px;
    color: #131313;
}

/* experience button */
#features-experience-button {
    width: 342px;
    height: 200px;
    border-radius: 8px;
    border: 0em;
    margin-left: -5%;
    margin-top: -10%;
    color: #FFFFFF;
    background: #FF900E;
}

#features-experience-button:hover {
    background-color: rgba(255, 144, 14, 0.1);
    color: #000000;
}

#features-experience-button h1 {
    font-weight: 700;
    font-size: 65px;
}

#button-span {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

/* Some Facts */
.some-facts {}

.facts-head {
    font-weight: 700;
    font-size: 45px;
    font-weight: 700;
    font-size: 45px;
    margin-left: 10%;
}

.facts-caption {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 5%;
    margin-left: 10%;
}

.facts-items:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.facts-items:hover {
    background-color: rgba(255, 144, 14, 0.1);
}

.facts {
    display: flex;
    gap: 3%;
    justify-content: center;
    margin-bottom: 5%;
    align-items: center;
}

.facts-img {
    margin-top: 20px;
}

.facts-items {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    text-align: center;
}

.facts-items-head {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    margin-top: 20px;
}

.facts-items-caption {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
    margin-top: -15px;
}

/* Our Sponsors */
.sponsor-head {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

.sponsor-img:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.sponsor-caption {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 2%;
    text-align: center;
}

.sponsor-list {
    display: flex;
    gap: 3%;
    justify-content: center;
    margin-bottom: 5%;
}

.sponsor-img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/* footer section */
footer {
    margin-bottom: 5%;
}

.footer-text {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    text-align: center;
    background: #FFF4E7;
    padding: 2%;
}

/* extra section */

.extra-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    gap: 5%;
    margin-bottom: 5%;
}

.extra-items-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extra-items-2 {}

.extra-form {
    padding: 50px 80px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.input {
    width: 180px;
    height: 64px;
    background-color: transparent;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid salmon;
    padding: 5px 50px;
}

.input-subscribe {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
}

.input-subscribe:hover {
    background-color: salmon;
    color: white;
}

.bell-img {
    width: 20%;
}

/* media */
@media screen and (max-width: 768px) {
    *{
        text-align: center;
    }
    .nav-part {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .quick-list {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
        /* margin-left: 20%;
        margin-right: 20%; */
        margin-bottom: 5%;
    }

    .quick-items-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .features-list {
        display: flex;
        flex-direction: column;
        gap: 4%;
        justify-content: center;
        align-items: center;
    }

    #features-experience-button {
        width: 142px;
        height: 100px;
        border-radius: 8px;
        border: 0em;
        margin-left: -5%;
        margin-top: -10%;
        color: #FFFFFF;
        background: #FF900E;
    }

    #features-experience-button h1 {
        font-weight: 400;
        font-size: 35px;
    }
    
    #button-span {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 15px; 
    }

    .facts {
        display: flex;
        gap: 3%;
        justify-content: center;
        margin-bottom: 5%;
        align-items: center;
        flex-direction: column;
    }
    .sponsor-img{
        width: 10%;
    }
    .bell-img{
        margin-top: 5%;
    }
    .extra-part {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        margin-bottom: 5%;
        flex-direction: column;
    }
}